# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
*.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# FastAPI specific
*.sqlite3
*.db

# Uvicorn specific
*.pid

# Ignore .conda directory
.conda/

# Ignore chatbot directory
# Backend/chatbot-20250223T140226Z-001/